@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  cursor: url('../assets/images/cursor1.png'), auto;
  background-color: #182341;
  color: #fff;
}

.cursor:hover {
  cursor: url('../assets/images/hovercursor.png'), auto;
}

::selection {
  background-color: #061173;
  color: #fff;
}
